

.ambiente
    img([src]="ambiente.Espacios[0].link", *ngIf="ambiente.Espacios.length > 0")
        //- md-button(ui-sref="espacio({id : ambiente.id})") Ver
        //- h1 ambiente3
        //- p INDIVIDUAL
