// component css goes here


.imagen
    border 1px solid rgba(0, 0, 0, 0.12)
    border-radius 4px
    margin 5px
    padding 10px
    .titulo
        border 1px solid rgba(0, 0, 0, 0.12)
        border-radius 4px
        margin 5px
        padding 10px
        font-family arial
        display flex
        justify-content space-between
        align-items center
        div
            display flex
            strong, p
                margin 0 5px
