
@import  '../../../../../defaults.styl'

.mas-vendidos-container
    display flex
    justify-content center
    align-items center
    .mas-vendidos-content
        width 80%
        .linea-mas-vendidos
            width 100%
            opacity 0.3
            border 0.5px solid gray
        .titulo
            margin 2vh
            width 100%
            h1
                font-size 40px
                color negro
                font-weight 600
                margin 0