
@import  '../../../../../../../defaults.styl'



.instrucciones-container
    width 100%
    display: flex
    justify-content: center
    align-items: center;
    margin 5px 0
    .instrucciones
        width 80%
        border-radius: 20px
        padding 10px 0
        background-color gris
        font-size 11px
        color white
        text-align: center;
