.container
    .content
        .borde
            h4 Muchas Gracias por registarte
            p tu participación es muy valiosa para nosotros y muy pronto podrás 
            p comprar productos desde la comodida de tu hogar
