
.slider-categorias
    .slider(*ngIf="categorias")
        ngx-slick.carousel(#slickModal="slick-modal",   [config]="slideConfig",  (afterChange)="afterChange($event)"  )
            .slide(ngxSlickItem,  *ngFor="let categoria of categorias.items ; index as i ")
                .categoria
                    .imagen-categoria
                        h1 {{categoria.nombre}}
                    .ver-mas
                        button.btn-vermas(mat-button) ver más +