
section
    .container
        .content
            mat-tab-group
                mat-tab
                    ng-template(mat-tab-label) Logs
                    paginacionlogs
                mat-tab
                    ng-template(mat-tab-label) Acciones
                    paginacionaccciones
                    
                
