
@import  '../../../../../../defaults.styl'


.linea
    display:  flex
    mat-form-field
        flex 1

button
    width 100%
    background-color: azul
    color white


form
    display flex
    flex-direction column
