form([formGroup]="formulario")
    .linea
        mat-form-field(appearance="outline")
            mat-label Nombre
            input(matInput, placeholder="Busca un nombre", formControlName="nombre",  name="nombre")
        mat-form-field(appearance="outline")
            mat-label Apellido
            input(matInput, placeholder="Busca un apellido", formControlName="apellido", name="apellido")
    mat-form-field(appearance="outline")
        mat-label Correo
        input(matInput, placeholder="Busca un correo", formControlName="correo", name="correo")
    .line                
        //- mat-form-field
        //-     mat-label ¿Quieres cambiar tu contraseña?
        //-     input(matInput, placeholder="Busca un correo", [(ngModel)]="usuario.correo", disabled,  name="correo")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un status", [(ngModel)]="usuario.status",  name="status")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un tipo", [(ngModel)]="usuario.tipo",  name="tipo")
button(mat-raised-button (click)="aceptar()") Aceptar
