
mat-card.componente
    p Opciones de {{categoria?.nombre}}
    .atributos
        atributo(*ngFor="let atributo of atributos", [atributo]="atributo", [opcionesversion]="opciones", [version]="version")
