
//- .auto
//-     //- .nombre(*ngIf="!status")
//-     //-     p {{categoria?.nombre}}
//-     .autocomplete.margin
form(class="example-form", [formGroup]='formulario')
    mat-form-field(appearance="outline")
        mat-label Categoria
        input(matInput, placeholder="Busca un autocategoria   ", [matAutocomplete]="auto", formControlName='input')

mat-autocomplete(#auto="matAutocomplete" , [displayWith]="displayFn")
    mat-option(*ngIf="isLoading", class="is-loading")
        mat-spinner(diameter="50")
    ng-container(*ngIf="!isLoading")
        mat-option(*ngFor="let item of itemsfiltrados", [value]="item")
            span {{ item.nombre }}
                    
    //- button(mat-stroked-button (click)="status = !status")
    //-     mat-icon edit
