
@import  '../../../../../defaults.styl'



.usuario
    display flex
    section
        flex 1
        .informacionbasica, .llave
            @extends .borde


.titulo
    @extends .borde
    background-color: azul1
    color white
    font-family: arial
    span
        margin 0 10px
