
mat-form-field(appearance="outline")
	mat-label Colores
	mat-chip-list(#chipList)
		mat-chip(*ngFor="let item of chips",
			[selectable]="selectable",
			[removable]="removable",
			(removed)="remove(item)") {{item.nombre}}
			mat-icon(matChipRemove, *ngIf="removable") cancel
		input(placeholder="Selecciona los colores",
			#input,
			[formControl]="fruitCtrl",
			[matAutocomplete]="auto",
			[matChipInputFor]="chipList",
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes",
			[matChipInputAddOnBlur]="addOnBlur")
		mat-autocomplete(#auto="matAutocomplete", (optionSelected)="selected($event)")
			mat-option(*ngFor="let item of filtered | async", [value]="item.nombre") {{item.nombre}}
