
@import  '../../../../../defaults.styl'



.eliminar
    position: absolute;
.imagen, img
    height 80px
    width 80px
.imagen
    margin-left: 5px
    margin 10px 0
    position: relative;
    button
        top -15px
        left -15px
        background-color rojo1
        transform scale(.5)
        .mat-button-wrapper
            padding 0px !important
.texto
    display: flex;
    flex-direction: column
