
@import  '../../../../../../defaults.styl'

.categoria.encapsulada
    padding 5px
    display flex
    align-items center
    mat-form-field
        .mat-form-field-wrapper
            padding 0px
            margin 0px
            .mat-form-field-flex
                .mat-form-field-outline
                    color naranja !important
        .mat-form-field-outline-end
            border-right 0px
            border-radius 1px 0px 0px 1px
    .btn-eliminar-categoria
        span
            color naranja
    .mat-stroked-button
        border-top-right-radius 5px !important
        border-bottom-right-radius 5px !important
        border-color naranja !important
        &:not([disabled]) 
            border-color naranja !important
    button
        padding 0px
        margin 0px
        border-left 0px
        width 40px !important
        min-width 40px !important
        height 59.764px
        border-radius 0px 1px 1px 0px
