
@import  '../../../../../../defaults.styl'

p
    margin 0px

span
    font-family Poopins
    font-size 11px
    white-space pre
    button
        margin 0px
        padding 0px
        min-height inherit
        min-width inherit
        line-height inherit
        height inherit
        width inherit
        &.normal
            margin-left 16px
        md-icon
            height 16px
            width 16px
            min-width 16px
            min-height 16px
            font-size 16px
    // strong
    // 	font-weight: 300;
    // 	text-transform: none;
    // 	font-size 13px
    // span
    // 	color gris !important
    // 	font-weight:  100
.principal
    margin-left 5px
    button
        font-size 16px !important
        line-height 11px
        font-weight 800 !important
        color rojo1
        @media mobile
            font-size 12px
.subcategoria
    margin-left 15px
    button
        font-size 11px !important
        font-weight 600 !important
        color azul1
.subsubcategoria
    margin-left 30px
    button
        font-size 10px !important
        font-weight 400 !important
.subsubsubcategoria
    margin-left 45px
    button
        font-size 9px !important
        font-weight 400 !important
    // .subcategoria, .subsubcategoria, .subsubsubcategoria
    // 	&:before
    // 		font-family "Material Icons"
    // 		font-size 11px
    // 		color black
    // 		content "subdirectory_arrow_right"
