//- anuncios
//- .container
//-     .content
//-         section
//-             main
//-                 sliders
//-             aside
//-                 banners
.home-container
    .home-content
        sliderprincipal
        promociones
        categorias
        masvendidos
        
