
@import  '../../../../defaults.styl'

.home-container
    display flex
    justify-content center
    position relative
    .home-content
        width 1300px
        @media mediana 
            width 1000px
        @media tablet
            width 768px
        @media mobile 
            width 360px
