.container
    .content
        .usuario
            fichausuario
            //- form.formulario([formGroup]="registroForm", (ngSubmit)="registrar(registroForm)", novalidate)
            //-     h1 Registro
            //-     .contenido
            //-         .linea
            //-             mat-form-field(appearance="outline")
            //-                 mat-label Nombre
            //-                 input(matInput, formControlName="nombre", autocomplete="off", required)
            //-             mat-form-field(appearance="outline")
            //-                 mat-label Apellido
            //-                 input(matInput, formControlName="apellido", autocomplete="off", required)
            //-         mat-form-field(appearance="outline")
            //-             mat-label Correo
            //-             input(matInput, formControlName="correo", autocomplete="off", required)
            //-         .linea
            //-             mat-form-field(appearance="outline")
            //-                 mat-label Password
            //-                 input(matInput, type="password", formControlName="password", autocomplete="off", required)
            //-             mat-form-field(appearance="outline")
            //-                 mat-label Repetir Password
            //-                 input(matInput, type="password", formControlName="repeatpassword", autocomplete="off", required)
