@import  '../../../../defaults.styl'

.barra-container
    width 100%
    background-color naranja
    display flex
    flex-direction row
    justify-content center
    align-items center
    .barra-content
        .btn-menu
            span
                font-size 14px
                color white
                font-weight bolder
.barra-negrita-container
    background-color negro !important
    .barra-negrita-content
        margin-left 100px
        .btn-negrita
            span
                font-size 11px
                color white
                font-weight bolder
