mat-toolbar
    mat-toolbar(style="justify-content : space-around")
        button(mat-button (click)="abrir()") Categorias
        .buscador
            buscador
            
        .menu
            button(mat-button, (click)="ir('busqueda')") Productos
            button(mat-button, (click)="ir('espacios')" ) Espacios
                
