
@import  '../../../../../defaults.styl'

.buscador
    mat-form-field
        background-color white

    form, mat-form-field
        height 36px
        width 400px
        padding 0 50px
        @media mobile
            width 100%
            padding 0px
        .mat-form-field-wrapper
            padding 0px !important
            height 36px
            .mat-form-field-flex
                height 36px
                .mat-form-field-infix
                    padding 0px
                    margin 0px
                    border 0px
                    input
                        height 36px
                    // .mat-form-field-label-wrapper
            .mat-form-field-underline
                bottom 0px
    .opcion
        display flex !important
        portada
            margin-right 5px
