
//- picture(*ngIf="carteles")
//-     source(media="(min-width: 650px)", [srcset]="carteles[3]?.url")
    img([src]="carteles[0]?.url")

img([src]="cartel?.url")
//- 
//- .imagenes
//-     img([src]="cartel.url", *ngFor="let cartel of carteles")
