.inputs-fropify
    display flex
    justify-content center
    align-items center
    width 100%

    .crop
        display flex
        justify-content center
        align-items center
        flex 1
        .croppie
            position relative
            width 90%
            .botones
                position absolute
                top 0%
                right 0%
                z-index 5
                display flex
                justify-content center
                align-items center
                width 100px
        margin 42px
    .dorpify
        margin 10px
        flex 1
