
@import  '../../../../../../defaults.styl'


form
    display flex
    mat-form-field
        flex 1
    button
        background-color: verde


section
    display flex
    flex-direction column
    :&>*
        flex 1
