

h1 {{ producto?.nombre }}
form(class="example-form", [formGroup]='formulario')
    mat-form-field(appearance="outline")
        input(matInput, placeholder="Busca un nombre", formControlName='nombre', [(ngModel)]="producto.nombre")
    mat-form-field(appearance="outline")
        input(matInput, placeholder="Busca un status", formControlName='status', [(ngModel)]="producto.status")
    button(mat-button, (click)="aceptar()") Aceptar
section(*ngIf="producto")
    autocategoria([id]="producto.IdCategoria", [nuevoProducto]="pasarProducto")
    automarca([id]="producto.IdMarca", [nuevoProducto]="pasarProducto")
    autolinea([id]="producto.IdLinea", [nuevoProducto]="pasarProducto")
    autogama([id]="producto.IdGama", [nuevoProducto]="pasarProducto")
    colores([chips]="colores", [nuevoProducto]="pasarProducto")
    //- margenes([id]="producto.id", [chips]="margenes", [nuevoProducto]="pasarProducto")
