
@import  '../../../../../defaults.styl'


mat-card
    cursor pointer
    transition(500ms , 0)
    &:hover
        transform scale(.9)


.avatar
    display flex
    justify-content center

mat-list-item
    height 40px !important

    strong
        font-family poopins
        font-size 9px !important
        color rgba(0, 0, 0, .5)
