
@import  '../../../../../../defaults.styl'

.mat-expansion-panel
    .mat-expansion-panel-header
        background-color naranja !important
        height 45px
        span
            .mat-expansion-panel-header-title
                color white
                font-size 14px
                font-weight bold
                margin 0
        .mat-expansion-indicator
            &:after
                color white !important
    .mat-expansion-panel-content
        margin-top 10px