
mat-accordion
    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title {{modulo.item.nombre}}
            mat-panel-description
        mat-list
            mat-list-item(*ngFor="let item of modulo.items")
                mat-checkbox( [(ngModel)]="item.check", (change)="cambiarOpciones()")
                span {{item.nombre}}
