
@import  '../../../../../../defaults.styl'

.content
    display: flex
    form
        flex 1
        display: flex
        flex-direction: column;
        .linea
            display: flex
            mat-form-field
                flex 1
                margin 0 5px
        button
            width: 100%
    .mapa
        flex 1
