.content
    form([formGroup]="formulario")
        .linea
            mat-form-field(appearance="outline")
                mat-label Nombre
                input(matInput, placeholder="Busca un nombre", formControlName="nombre",  name="nombre")
        .linea
            mat-form-field(appearance="outline")
                mat-label Calle
                input(matInput, placeholder="Busca un calle", formControlName="calle",  name="calle")
        .linea
            mat-form-field(appearance="outline")
                mat-label Numero
                input(matInput, placeholder="Busca un numero", formControlName="numero",  name="numero")
            mat-form-field(appearance="outline")
                mat-label Codigo postal
                input(matInput, placeholder="Busca un codigopostal", formControlName="codigopostal",  name="codigopostal")

        .linea
            mat-form-field(appearance="outline")
                mat-label Colonia
                input(matInput, placeholder="Busca un colonia", formControlName="colonia",  name="colonia")
            mat-form-field(appearance="outline")
                mat-label Estado
                input(matInput, placeholder="Busca un estado", formControlName="estado",  name="estado")
        .linea
            mat-form-field(appearance="outline")
                mat-label Latitude
                input(matInput, placeholder="Busca un latitude", formControlName="latitude",  name="latitude")
            mat-form-field(appearance="outline")
                mat-label Longitude
                input(matInput, placeholder="Busca un longitude", formControlName="longitude",  name="longitude")
        button(mat-stroked-button, (click)="aceptar()") Aceptar


    .mapa
        div(#googleMap style="width:100%;height:100%;")
