
mat-form-field(appearance="outline")
	mat-chip-list(#chipList)
		mat-chip(
			(click)="abrir(precio)",
			*ngFor="let precio of precios",
			[selectable]="selectable",
			[removable]="removable",
			(removed)="remove(fruit)",
			[style.background-color]=" precio.Variacionprecio.status === 1 ? 'rgb(76, 175, 80)' : 'rgb(244, 67, 54)' ")  {{precio.cantidad | currency }}
			mat-icon(matChipRemove)
		input(placeholder="Nuevo precio", (matChipInputTokenEnd)="add($event)", [matChipInputFor]="chipList")
