@import  '../../../../defaults.styl'

.container
    display flex
    justify-content center
    .content
        width 90%

section
    min-width: 100%
    min-height calc(100vh - 200px)
    display: flex
    justify-content: center
    align-items: center
    .content
        width 80%
