
@import  '../../../../../defaults.styl'

.mat-column-versiones
    // flex: 0 0 600px
    versiones
        width 100%

.mat-column-nombre
    flex: 0 0 210px

.mat-column-detalle
    flex: 0 0 128px

mat-cell:last-of-type
    padding 0px


button.detalle
    background-color verde !important
    width 100% !important
    height 100% !important
    padding 0px !important
    min-width auto !important
    border-radius 0px
