
.container
    .content
        main
            section.producto
                producto([pasarProducto]="pasarProducto")
                //-ambientes([pasarProducto]="pasarProducto", (pasarAmbientes)="Visible($event)", [ngStyle]="estiloambiente"  )
            section.relacionados
                relacionados([pasarProducto]="pasarProducto")
