
@import  '../../../../defaults.styl'


main
    min-height 80vh
    
section
        margin 30px
    &.producto
        display flex
        align-items center
        producto
            flex 2
        ambientes
            flex 1
    &.relacionados

        display flex
        relacionados
            width 100%


ambientes
    display none
    &.visible
        display block


.container
    display flex
    justify-content center
    .content
        width 90%
        display relative
